<a href="https://colab.research.google.com/github/RaviGoti6/FakeNewsDetection/blob/main/Fake_news_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import itertools
import re ,string, csv
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

from nltk.corpus import stopwords # For Removing Stop words like < the , an , is ,..etc >
n_words= stopwords.words('english') #specify english stop words only
n_words.append("rt") #append rt for stop word dictionary

from nltk.tokenize import word_tokenize # for Tokenizing the sentnces as tokens
from nltk.stem.porter import PorterStemmer # converting words to their root forms ,speed and simplicity
porter = PorterStemmer() #Create stemmer obejct

from nltk.stem import WordNetLemmatizer # also converting words to their actual root forms(noun , verb ,aobjective) ,but it slow
lemmatizer = WordNetLemmatizer() #Create lemmatizer obejct

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [45]:
from google.colab import files
uploaded = files.upload()

Saving news_train.csv to news_train.csv

In [3]:
#Read the data
test_df=pd.read_csv('news_test.csv')

#Get shape and head
test_df.shape
test_df.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [4]:
train_df = pd.read_csv('news_train.csv')

train_df.shape
train_df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [5]:
train_df = train_df.drop(columns = ['id', 'title', 'author'])

train_df

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20795  Rapper T. I. unloaded on black celebrities who...      0
20796  When the Green Bay Packers lost to the Washing...      0
20797  The Macy’s of today grew from the union of sev...      0
20798  NATO, Russia To Hold Parallel Exercises In Bal...      1
20799    David Swanson is an author, activist, journa...      1

[20800 rows x 2 columns]

In [6]:
test_df = test_df.drop(columns = ['id', 'title', 'author'])

test_df

                                                   text
0     PALO ALTO, Calif.  —   After years of scorning...
1     Russian warships ready to strike terrorists ne...
2     Videos #NoDAPL: Native American Leaders Vow to...
3     If at first you don’t succeed, try a different...
4     42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...                                                 ...
5195  Of all the dysfunctions that plague the world’...
5196  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197  Good morning. (Want to get California Today by...
5198  « Previous - Next » 300 US Marines To Be Deplo...
5199  Perhaps you’ve seen the new TV series whose pi...

[5200 rows x 1 columns]

In [7]:
train_df.isnull().sum()

text     39
label     0
dtype: int64

In [8]:
# dropping Na values
train_df = train_df.dropna()
train_df = train_df.reset_index(drop = True)

In [9]:
test_df.isnull().sum()

text    7
dtype: int64

In [10]:
# dropping Na values
tesr_df = test_df.dropna()
test_df = test_df.reset_index(drop = True)

In [11]:
train_df

                                                    text  label
0      House Dem Aide: We Didn’t Even See Comey’s Let...      1
1      Ever get the feeling your life circles the rou...      0
2      Why the Truth Might Get You Fired October 29, ...      1
3      Videos 15 Civilians Killed In Single US Airstr...      1
4      Print \nAn Iranian woman has been sentenced to...      1
...                                                  ...    ...
20756  Rapper T. I. unloaded on black celebrities who...      0
20757  When the Green Bay Packers lost to the Washing...      0
20758  The Macy’s of today grew from the union of sev...      0
20759  NATO, Russia To Hold Parallel Exercises In Bal...      1
20760    David Swanson is an author, activist, journa...      1

[20761 rows x 2 columns]

In [12]:
test_df

                                                   text
0     PALO ALTO, Calif.  —   After years of scorning...
1     Russian warships ready to strike terrorists ne...
2     Videos #NoDAPL: Native American Leaders Vow to...
3     If at first you don’t succeed, try a different...
4     42 mins ago 1 Views 0 Comments 0 Likes 'For th...
...                                                 ...
5195  Of all the dysfunctions that plague the world’...
5196  WASHINGTON  —   Gov. John Kasich of Ohio on Tu...
5197  Good morning. (Want to get California Today by...
5198  « Previous - Next » 300 US Marines To Be Deplo...
5199  Perhaps you’ve seen the new TV series whose pi...

[5200 rows x 1 columns]

In [13]:
# Define Clean Function to fix text
def Clean(text):

  # Frist converting all letters to lower case
  text= text.lower()
  
  # removing unwanted digits ,special chracters from the text
  text= ' '.join(re.sub("(@[A-Za-z0-9]+)", " ", text).split()) #tags
  text= ' '.join(re.sub("^@?(\w){1,15}$", " ", text).split())
    
  text= ' '.join(re.sub("(\w+:\/\/\S+)", " ", text).split())   #Links
  text= ' '.join(re.sub("http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\), ]|(?:%[0-9a-fA-F][0-9a-fA-F]))+"," ", text).split()) 
  text= ' '.join(re.sub(r'http\S+', '',text).split())
  
  
  text= ' '.join(re.sub(r'www\S+', '',text).split())
  text= ' '.join(re.sub("\s+", " ",text).split()) #Extrem white Space
  text= ' '.join(re.sub("[^-9A-Za-z ]", "" ,text).split()) #digits 
  text= ' '.join(re.sub('-', ' ', text).split()) 
  text= ' '.join(re.sub('_', ' ', text).split()) #underscore 
   
  
  #Display available PUNCTUATION for examples for c in string.punctuation:
  #print(f"[{c}]")
  
  # removing stopwards and numbers from STRING library
  table= str.maketrans('', '', string.punctuation+string.digits)
  text = text.translate(table)
  
  # Split Sentence as tokens words 
  tokens = word_tokenize(text)
  
  # converting words to their root forms by STEMMING THE WORDS 
  #stemmed1 = [lemmatizer.lemmatize(word) for word in tokens] #Covert words to their actual root
  stemmed2 = [porter.stem(word) for word in tokens] # Covert words to their rootbut not actual
  
  # Delete each stop words from English stop words
  #words = [w for w in stemmed1 if not w in n_words] #n_words contains English stop words
  words = [w for w in stemmed2 if not w in n_words] #n_words contains English stop words

  text  = ' '.join(words)
  
  return text

In [14]:
# apply Clean Funsction to our Text
train_df.text=[Clean(x) for x in train_df.text]

# Delete Unwanted Some Text 
train_df = train_df[train_df["text"]!='btc']

In [15]:
test_df.text=test_df.text.astype(str)

In [16]:
# apply Clean Funsction to our Text
test_df.text=[Clean(x) for x in test_df.text]
# Delete Unwanted Some Text 
test_df=test_df[test_df["text"]!='btc']

In [17]:
#Get the labels from the DataFrame
labels=train_df.label
labels.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [19]:
#Split the dataset into training and testing sets
x_train,x_test,y_train,y_test = train_test_split(train_df['text'], labels, test_size=0.2, random_state=50)

In [20]:
#Initialize a TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(min_df = 5, max_df = 0.7)

#Fit and transform train set, transform test set
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
tfidf_test = tfidf_vectorizer.transform(x_test)

In [23]:
#Initialize a PassiveAggressiveClassifier
pac = PassiveAggressiveClassifier(max_iter = 50)
pac.fit(tfidf_train,y_train)

#Predict on the test set and calculate accuracy
y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 95.3%

In [25]:
#Build confusion matrix
confusion_matrix(y_test,y_pred, labels=[1,0])

array([[1975,   83],
       [ 112, 1983]])

In [136]:
test1 = ["Members of the Ukrainian Volunteer Corps fight against Russian troops in the southeastern Zaporizhzhia region."]

In [131]:
# apply Clean Funsction to our Text
test1 = [Clean(x) for x in test1]

# Delete Unwanted Some Text 
#test1 = test1[test1 != 'btc']

In [132]:
test1

['member ukrainian volunt corp fight russian troop southeastern zaporizhzhia region']

In [137]:
#Initialize a TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(min_df = 5, max_df = 0.7)

#Fit and transform train set, transform test set
tfidf_train = tfidf_vectorizer.fit_transform(x_train) 
tfidf_test1 = tfidf_vectorizer.transform(test1)

In [138]:
#Initialize a PassiveAggressiveClassifier
pac = PassiveAggressiveClassifier(max_iter = 50)
pac.fit(tfidf_train,y_train)

#Predict on the test set and calculate accuracy
y_pred1 = pac.predict(tfidf_test1)
#score = accuracy_score(y_test,y_pred1)
#print(f'Accuracy: {round(score*100,2)}%')

In [139]:
y_pred1

array([1])